table > tbody > tr > td{
    border: 1px solid #d6d6d6;
    width: 10%;
    height: 120px;
}

.__days_number {
    color: #969696;
}

.__current_day {
    color: #605e5e;
    font-weight: bold;
}

/** Button Add Event **/

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.__new_event {
    position: relative;
    top: 40%;
    left: 85%;
}

/** Previous - Next **/

.__previous_arrow, .__next_arrow {

    font-size: 1.5em;

}